<template>
  <main>
    <h1>Code Time Dev! { ⏱️ }</h1>
    <input class="calculator-operations" :value="operations.join('')" readonly>
    <div class="calculator-result">{{ calculate }}</div>
    <div class="calculator-keyboard">
      <button v-for="key in keys" :key="key" @click="onPressKey(key)">{{ key }}</button>
    </div>
  </main>
</template>
<script>
export default {
  name: 'HomeView',
  data() {
    return {
      keys: [
        '⏱️', 'CE', 'C', '⌫',
        '7', '8', '9', '÷',
        '4', '5', '6', 'x',
        '1', '2', '3', '-',
        '.', '0', '=', '+',
      ],
      specialKeys: ['⏱️', 'CE', 'C', '⌫', '='],
      operator: ['÷', 'x', '-', '+'],
      operations: [],
    }
  },
  computed: {
    lastOperation() {
      return this.operations[this.operations.length - 1]
    },
    calculate() {
      let currentValue = 0
      let currentOperator = '+'
      return this.operations.reduce((acc, curr) => {
        if (this.isOperator(curr)) {
          currentOperator = curr
          return acc
        }
        return currentValue = this.calculateOperation(currentOperator, currentValue, Number(curr))
      }, currentValue)
    },
  },
  methods: {
    clear() {
      this.operations = []
    },
    onPressKey(key) {
      if (this.isSpecialKey(key)) return this.action(key)
      if (this.operations.length === 0) {
        this.operations.push(key)
        return
      }
      if (this.isNumberOrPoint(key)) {
        this.addOrConcat(key)
        return
      }

      if (this.isOperator(key) && !this.lastOperationIsOperator()) {
        this.operations.push(key)
        return
      }

    },
    addOrConcat(key) {
      const lastIndexOfOperation = this.operations.length - 1
      const lastOperation = this.operations[lastIndexOfOperation]

      if (this.isNumberOrPoint(lastOperation)) {
        this.operations.splice(lastIndexOfOperation , 1, lastOperation + key)
        return
      }

      this.operations.push(key);
    },
    isNumberOrPoint(key) {
      return !isNaN(key) || key === '.'
    },
    isOperator(key) {
      return this.operator.includes(key)
    },
    lastOperationIsOperator() {
      return this.isOperator(this.lastOperation)
    },
    isSpecialKey(key) {
      return this.specialKeys.includes(key)
    },
    action(key) {
      switch (key) {
        case '⏱️':
          this.clear()
          break
        case 'CE':
          this.clear()
          break
        case 'C':
          this.operations.pop()
          this.lastOperationIsOperator() ? this.operations.pop() : null
          break
        case '⌫':
          this.backspace()
          break
        case '=':
          this.operations = [this.calculate]
          break
        default:
          throw new Error('Action not found')
      }
    },
    backspace() {
      let last = this.operations.pop().slice(0, -1)
      last ? this.operations.push(last) : null
    },
    calculateOperation(operator, a, b) {
      switch (operator) {
        case '+':
          return a + b
        case '-':
          return a - b
        case 'x':
          return a * b
        case '÷':
          return a / b
        default:
          throw new Error('Operator not found')
      }
    }
  }
}
</script>

<style scoped>
main, h1 {
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
}

.calculator-keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: .5rem;
  cursor: pointer;
}

.calculator-keyboard > button {
  padding: 1rem;
  font-size: 1.1rem;
}

.calculator-operations {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: .25rem;
}

.calculator-result {
  font-size: .8rem;
  text-align: right;
  padding: .5rem;
  border-radius: .25rem;
}
</style>